@model List<AngularJs.Models.Employee>
@{
    ViewBag.Title = "Home Page";
}
<div ng-controller="HomeController">
    <table>
        <tr><th>ID</th><th>Name</th><th>D.O.B</th><th>Department</th></tr>
        <tr ng-repeat="employee in empdetails">
            <td>{{employee.ID}}</td>
            <td><input type="button" class="btn" value="Edit" ng-click="RedirectToEdit(employee)" /> </td>
        </tr>
    </table>


</div>
